<!doctype html>
<html lang="{{ .Site.Language.Locale | default "en" }}" data-theme="light">
<head>
  {{- if eq .Kind "404" }}<base href="{{ .Site.BaseURL }}">{{ end }}
  {{ partial "head.html" . }}
  {{ block "head-extra" . }}{{ end }}
</head>
<body>
  <a class="skip-link" href="#main">Skip to content</a>
  {{ partial "header.html" . }}
  <main id="main" class="container">
    {{ block "main" . }}{{ end }}
  </main>
  {{ partial "footer.html" . }}

  {{ $dm := resources.Get "js/darkmode.js" | minify | fingerprint }}
  <script src="{{ $dm.RelPermalink }}" integrity="{{ $dm.Data.Integrity }}" defer></script>
  {{ $bundle := slice (resources.Get "js/_clipboard.js") (resources.Get "js/copycode.js") (resources.Get "js/anchorlinks.js") (resources.Get "js/share.js") (resources.Get "js/lightbox.js") | resources.Concat "js/bundle.js" | minify | fingerprint }}
  <script src="{{ $bundle.RelPermalink }}" integrity="{{ $bundle.Data.Integrity }}" defer></script>

  {{ if .Params.math }}{{ partial "math.html" . }}{{ end }}

  {{ with .Site.Params.cloudflare_analytics_token }}
  <script defer src="https://static.cloudflareinsights.com/beacon.min.js"
          data-cf-beacon='{"token": "{{ . }}"}'></script>
  {{ end }}

  {{ partial "custom-foot.html" . }}
</body>
</html>
