<footer class="site-footer">
  <div class="container py-4 d-flex align-items-center gap-3 {{ if .Site.Params.copyright }}justify-content-between flex-wrap{{ else }}justify-content-center{{ end }}">
    {{ with .Site.Params.copyright }}<small>{{ . }}</small>{{ end }}
    <ul class="socials list-unstyled d-flex m-0">
      {{ range .Site.Data.socials }}
      <li><a href="{{ .url }}" rel="me noopener" aria-label="{{ .name }}"><span>{{ .name }}</span><i class="{{ .icon }}" aria-hidden="true"></i></a></li>
      {{ end }}
      {{- $rssURL := "" -}}
      {{- $rssDL := "" -}}
      {{- $feedName := "" -}}
      {{- if .IsHome -}}
        {{- $rssURL = "/index.xml" | absURL -}}
        {{- $rssDL = "all.rss" -}}
        {{- $feedName = .Site.Title -}}
      {{- else if .OutputFormats.Get "RSS" -}}
        {{- $rssURL = (.OutputFormats.Get "RSS").Permalink -}}
        {{- $rssDL = printf "%s.rss" .Section -}}
        {{- $feedName = .CurrentSection.Title -}}
      {{- else if .Section -}}
        {{- $rssURL = printf "/%s/index.xml" .Section | absURL -}}
        {{- $rssDL = printf "%s.rss" .Section -}}
        {{- $feedName = .CurrentSection.Title -}}
      {{- end -}}
      {{ if $rssURL }}
      <li><a href="{{ $rssURL }}" download="{{ $rssDL }}" rel="noopener" title="{{ $feedName }} RSS feed" aria-label="{{ $feedName }} RSS feed"><span>RSS</span><i class="ri-rss-line" aria-hidden="true"></i></a></li>
      {{ end }}
    </ul>
  </div>
</footer>
