<section class="giscus-wrapper">
  <script src="https://giscus.app/client.js"
          data-repo="{{ .Site.Params.comments.repo }}"
          data-repo-id="{{ .Site.Params.comments.repoId }}"
          data-category="{{ .Site.Params.comments.category }}"
          data-category-id="{{ .Site.Params.comments.categoryId }}"
          data-mapping="{{ .Site.Params.comments.mapping }}"
          data-strict="0"
          data-reactions-enabled="{{ .Site.Params.comments.reactions_enabled }}"
          data-emit-metadata="{{ .Site.Params.comments.emit_metadata }}"
          data-input-position="{{ .Site.Params.comments.input_position }}"
          data-theme="{{ .Site.Params.comments.theme }}"
          data-lang="en"
          crossorigin="anonymous"
          async></script>
</section>
