<!-- although mastadon internally supports dark/light modes, it's currently not possible to set from outside. https://github.com/mastodon/mastodon/issues/32134 -->
{{- $url    := .Get "url" -}}
{{- $host   := (urls.Parse $url).Host -}}
{{- $oembedURL := printf "https://%s/api/oembed?url=%s" $host (urlquery $url) -}}
{{- with try (resources.GetRemote $oembedURL) -}}
  {{- with .Err -}}
    {{- warnf "mastodon-card: could not fetch oEmbed for %q: %s" $url . -}}
    <a href="{{ $url }}">View post on Mastodon</a>
  {{- else with .Value -}}
    {{- $html := (. | transform.Unmarshal).html | replaceRE ` width="\d+"` "" -}}
    <div class="mastodon-embed-wrapper d-flex justify-content-center">{{ $html | safeHTML }}</div>
  {{- else -}}
    {{- warnf "mastodon-card: no response fetching oEmbed for %q" $url -}}
    <a href="{{ $url }}">View post on Mastodon</a>
  {{- end -}}
{{- end -}}
